/* #region GLOBAL STYLES */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  /*font-size*/
}
ul,ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
    color: #fff;
    font-family: inherit;
    cursor: pointer;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
}

.header-logo .logo-part-dark {
    color: #2e2f42;
}

.footer-logo .logo-part-light {
   color: #f4f4fd;
}
.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }

.nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
   font-style: normal; 
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.nav-link:hover,
.nav-link:focus, 
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.hero {
    background-color:#2e2f42;
    color: #f4f4fd;
}

.section-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.hero-btn {
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    color: #fff;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background: #404BBF;

}

.page-footer {
    background-color: #2e2f42;
}    

.features-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.features-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}
.team {
    background: #f4f4fd;
}

.team-title, 
.features-title,
.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

.team-item {
    background-color: #fff;
}

.team-subtype, 
.portfolio-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text,
.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

